/*Variables and Mixins-------------------------------
---------------------------------------------------*/
::selection {
  background: #e5b8cf;
  color: #ffffff; }

::-moz-selection {
  background: #e5b8cf;
  color: #ffffff; }

@font-face {
  font-family: 'ITCBaskerville';
  src: url("../fonts/317AAC_0_0.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/317AAC_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/317AAC_0_0.woff2") format("woff2"), url("../fonts/317AAC_0_0.woff") format("woff"), url("../fonts/317AAC_0_0.ttf") format("truetype"); }

/*Global Styles--------------------------------------
---------------------------------------------------*/
body {
  font-family: 'ITCBaskerville', serif;
  -webkit-font-smoothing: antialiased;
  background-color: #cd4a6b;
  color: #ffffff;
  text-align: center; }

#quoteDisplay {
  font-size: 2em;
  line-height: 1.25em;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  min-height: 220px;
  padding: 20px; }

button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: #ffffff;
  background-color: transparent;
  box-sizing: border-box;
  padding: 14px 18px 12px 18px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-image: none;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font: 1em 'ITCBaskerville', serif;
  font-weight: bold;
  line-height: 1em;
  -webkit-appearance: button;
  cursor: pointer;
  position: relative; }

button:focus {
  outline: 0; }

button:active {
  top: 2px;
  left: 2px; }

img {
  width: 100%;
  height: auto; }

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50px;
  margin-top: 60px;
  margin-bottom: 15px; }
