/*Variables and Mixins-------------------------------
---------------------------------------------------*/
$color-hot: #cd4a6b;
$color-white: #ffffff;
$color-muted: #e5b8cf;

::selection {
    background: $color-muted;
    color: $color-white;
    }

::-moz-selection {
	background: $color-muted;
	color: $color-white;
    }

@mixin transition {
    -webkit-transition: all .5s;
    transition: all .5s;
    }

@font-face {
  font-family: 'ITCBaskerville';
  src: url('../fonts/317AAC_0_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/317AAC_0_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/317AAC_0_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/317AAC_0_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/317AAC_0_0.ttf')  format('truetype') /* Safari, Android, iOS */
		}

/*Global Styles--------------------------------------
---------------------------------------------------*/

body {
		font-family:'ITCBaskerville', serif;
		-webkit-font-smoothing: antialiased;
		background-color: $color-hot;
		color: $color-white;
		text-align: center;
    }

#output {
		font-size: 1.8em;
		line-height: 1.25em;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		min-height:200px;
		padding:20px;
		}

span#prev_button,
span#next_button {
    display: inline-block;
    min-width:130px;
    color: $color-white;
    box-sizing: border-box;
    padding: 14px 5px 12px 5px;
    border-width: 2px;
    border-style: solid;
    border-color: $color-white;
    font: 1em 'ITCBaskerville', serif;
    font-weight: bold;
    line-height: 1em;
    cursor: pointer;
    position:relative;
    }

span#prev_button {
    margin-right:5px;
    }

span#next_button {
    margin-left:5px;
    }

span#prev_button:active,
span#next_button:active {
		top:2px;
		left: 2px;
		}

img {
    width:100%;
    height:auto;
    }

.icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width:125px;
		margin-top: 40px;
		margin-bottom:5px;
		}
